/* Custom styles for the active slide */
/* .slick-slide.slick-active {
  border-bottom: 2px solid #f6941e !important; 
} */

/* .slick-slide:hover {
  border-bottom: 1px solid #f6941e;
} */

/* .element.style {
  width: 95% !important;
  display: inline-block !important;
} */
